<mat-card>
  <mat-card-title>{{ isEditMode ? 'Editar Usuário' : 'Novo Usuário' }}</mat-card-title>

  
  <form (ngSubmit)="saveProduct()" #userForm="ngForm" class="form-container"   style="width: 100%; max-width: 800px; margin: 20px auto; display: flex; flex-direction: column; gap: 16px;">
    
 
    <mat-form-field appearance="fill">
      <mat-label>Email:</mat-label>
      <input matInput [(ngModel)]="userData.email" name="email" required />
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Usuário:</mat-label>
      <input matInput [(ngModel)]="userData.username" name="username" required />
    </mat-form-field>



      <mat-form-field appearance="fill" *ngIf="!isEditMode">
        <mat-label>Senha:</mat-label>
        <input matInput [(ngModel)]="userData.password" name="password" type="password" required />
      </mat-form-field>


    <h3>Nome</h3>
    <mat-form-field appearance="fill">
      <mat-label>Primeiro Nome:</mat-label>
      <input matInput [(ngModel)]="userData.name.firstname" name="firstname" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Sobrenome:</mat-label>
      <input matInput [(ngModel)]="userData.name.lastname" name="lastname" required />
    </mat-form-field>


    <h3>Endereço</h3>
    <mat-form-field appearance="fill">
      <mat-label>Cidade:</mat-label>
      <input matInput [(ngModel)]="userData.address.city" name="city" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Rua:</mat-label>
      <input matInput [(ngModel)]="userData.address.street" name="street" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Número:</mat-label>
      <input matInput [(ngModel)]="userData.address.number" name="number" type="number" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Código Postal:</mat-label>
      <input matInput [(ngModel)]="userData.address.zipcode" name="zipcode" required />
    </mat-form-field>

    <h3>Geolocalização</h3>
    <mat-form-field appearance="fill">
      <mat-label>Latitude:</mat-label>
      <input matInput [(ngModel)]="userData.address.geolocation.lat" name="lat" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Longitude:</mat-label>
      <input matInput [(ngModel)]="userData.address.geolocation.long" name="long" required />
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Telefone:</mat-label>
      <input matInput [(ngModel)]="userData.phone" name="phone" required />
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Status:</mat-label>
      <mat-select [(ngModel)]="userData.status" name="status" required>
        <mat-option value="Active">Ativo</mat-option>
        <mat-option value="Inactive">Inativo</mat-option>
        <mat-option value="Suspended">Suspenso</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Papel:</mat-label>
      <mat-select [(ngModel)]="userData.role" name="role" required>
        <mat-option value="Customer">Cliente</mat-option>
        <mat-option value="Manager">Gerente</mat-option>
        <mat-option value="Admin">Administrador</mat-option>
      </mat-select>
    </mat-form-field>


    <div style="text-align: center; margin-top: 20px;">
      <button mat-raised-button color="primary" type="submit">{{ isEditMode ? 'Salvar Alterações' : 'Criar Novo' }}</button>
    </div>
  </form>
</mat-card>